{% extends "home.html" %}

{% block main %}
<div>
	<div>
		<div class="panel callout radius round panel-generar-planilla">			
			<p>Generar Planilla para el mes de AGOSTO <button class="tiny radius round right">GENERAR</button></p>
		</div>
	</div>
	<hr/>
	<div>
		<h3>Planillas Generadas</h3>		
		<table>
			<thead>
				<tr>
					<th width="15%" class="text-center">Mes</th>
					<th width="10%" class="text-center">Empleados</th>
					<th width="35%" class="text-center">Observaciones</th>
					<th width="20%" class="text-center">Neto Pagado</th>
					<th width="20%" class="text-center">Opciones</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">JULIO</td>
					<td class="text-center">15</td>
					<td>Sin observaciones</td>
					<td class="text-right">S/. 16,880.72</td>
					<td class="text-center"><a href="">ver</a></td>
				</tr>
				<tr>
					<td class="text-center">JULIO</td>
					<td class="text-center">15</td>
					<td>Sin observaciones</td>
					<td class="text-right">S/. 16,880.72</td>
					<td class="text-center"><a href="">ver</a></td>
				</tr>
				<tr>
					<td class="text-center">JULIO</td>
					<td class="text-center">15</td>
					<td>Sin observaciones</td>
					<td class="text-right">S/. 16,880.72</td>
					<td class="text-center"><a href="">ver</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
{% endblock%}