<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th ng-repeat="colum in modulo.datatable.header">{{ colum.label }}</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trabajador in modulo.trabajadores">
            <td>{{ trabajador.id_trabajador }}</td>
            <td>{{ trabajador.apellido_paterno }}</td>
            <td>{{ trabajador.nombres }}</td>
            <td>{{ trabajador.fecha_ingreso_planilla | date:'MM/dd/yyyy' }}</td>
        </tr>
    </tbody>
</table>
