<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ page }}</title>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "vendor/foundation/foundation.css" %}" />
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "app/css/perforadora.css" %}" />
</head>
<body ng-app="PerforadoraApp">
    <!-- ### HEADER ######################################### -->
	<div id="header">
		<header class="large-12 columns">
			<h1></h1>
		</header>
	</div>
    <!-- ### NAV ######################################### -->
    <div id="nav" class="row" ng-controller="MenuCtrl">
        <nav class="large-12 columns">
            <app-menu></app-menu>
        </nav>
    </div>
    <!-- ### NAV ######################################### -->
    <div id="content" class="row">
        <section class="large-12 columns">
            <div class="large-8 columns">
                <div ng-view></div>
            </div>
            <div class="large-3 columns">
                <div class="panel">
                  <ul class="side-nav">
                      <li><a href="#">Link 1</a></li>
                      <li><a href="#">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- ### FOOTER ######################################### -->
	<div id="footer" class="row">
        <footer></footer>
    </div>

    {% load staticfiles %}
    <script type="text/javascript" src="{% static "vendor/jquery/jquery.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "vendor/angular/angular.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "vendor/angular-route/angular-route.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "vendor/angular-resource/angular-resource.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "vendor/foundation/foundation.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "app/js/perforadora.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "app/js/controllers.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "app/js/services.js" %}"></script>
    {% load staticfiles %}
    <script type="text/javascript" src="{% static "app/js/directives.js" %}"></script>
</body>
</html>
