<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page }}</title>
	{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "app/css/bootstrap.min.css" %}" />
	<!-- <link rel="stylesheet" type="text/css" href="{% static "vendor/foundation/foundation.css" %}" /> -->
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static "app/css/perforadora.css" %}" />
</head>
<body>
    <div class="container">
        <!-- HEADER -->
    	<div id="header" class="row">
    		<header class="col-md-12" class="page-header">
    			<h1>PERFORADORA</h1>
    		</header>
    	</div>
        <!-- NAV -->
        <app-nav></app-nav>
        <!-- CONTENT -->
        <div id="content" class="row">
            <section class="col-md-12">
                <div class="col-md-9">
                    <div ng-view></div>
                </div>
                <app-side-nav></app-side-nav>
            </section>
        </div>
        <!-- FOOTER -->
    	<div id="footer" class="row">
            <footer></footer>
        </div>
    </div>
    {% load staticfiles %}
    <script data-main="{% static "app/js/main.js" %}" src="{% static "vendor/requirejs/require.js" %}"></script>
</body>
</html>
